<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651261798000-3457uoiml3n53qdhc42vqpjhj47qhtt7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651261798000-3457uoiml3n53qdhc42vqpjhj47qhtt7</string>
	<key>API_KEY</key>
	<string>AIzaSyCX5hLjQWZ5SOpkIFU4iTFItdYcM-HhpQA</string>
	<key>GCM_SENDER_ID</key>
	<string>651261798000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>krishmittal.HouseRizz</string>
	<key>PROJECT_ID</key>
	<string>houserizz</string>
	<key>STORAGE_BUCKET</key>
	<string>houserizz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651261798000:ios:ebb4784d6409d4b3df36b5</string>
</dict>
</plist>