<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.651261798000-a3737rb4q01hg7eai5q5dp52prnlbdjg</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>phonePe</string>
		<string>gpay</string>
		<string>paytm</string>
		<string>cred</string>
		<string>payzapp</string>
		<string>bhim</string>
		<string>cred</string>
		<string>amazonToAlipay</string>
		<string>whatsapp</string>
		<string>slice</string>
		<string>mobikwik</string>
		<string>kiwi</string>
		<string>freecharge</string>
		<string>myjio</string>
	</array>
</dict>
</plist>
